<!-- Tailwind CSS -->
<script src="https://cdn.tailwindcss.com"></script>
<div>
    <!-- News Grid - Dynamic Section -->
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-10 w-50" id="news-grid">
        <!-- News articles will be injected here by JavaScript -->
    </div>
    <script src="/javascript/cardScript.js" type="text/javascript"></script>
</div>

<link rel="stylesheet" href="/css/newsCardStyle.css">